
 body{
    background-image: url('/photos/Projects.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

/*grid*/
  .grid-project { 
    display: grid; 
grid-template-columns: repeat(7, 1fr); 
grid-template-rows: repeat(3, 1fr); 
grid-column-gap: 7px;
grid-row-gap: 21px;
    }
   
    .projectOne-image{
      grid-area: 1 / 2 / 2 / 4; 
      border-radius: 10%;
      border: 2px solid none;
      height: 28vh;
      width:fit-content;
      overflow: hidden;
      margin-top: 2%;
      box-shadow: 1px 2px 2px #4f3325,
        -2px -2px 3px #fff;
      
    }


   .projectOne { 
      grid-area: 1 / 4 / 2 / 7;
      border: 2px solid none;
      height: 25vh;
      border-radius: 3%;
      background-color: #efe7dd;
      box-shadow: 1px 2px 2px #4f3325,
        -2px -2px 3px #fff;
        opacity: 70%;
      margin-top:3%}


   .projectTwo { 
    grid-area: 2 / 2 / 3 / 5;
      border: 2px solid none;
      height: 25vh;
      border-radius: 3%;
      background-color: #efe7dd;
      box-shadow: 1px 2px 2px #4f3325,
        -2px -2px 3px #fff;
        opacity: 70%;
      margin-top: 2%;
    }

      .projectTwo-image{
        grid-area: 2 / 5 / 3 / 7;; 
        border-radius: 10%;
        border: 2px solid none;
        height: 28vh;
        width:fit-content;
        overflow: hidden;
        margin-left: 6%;
        box-shadow: 1px 2px 2px #4f3325,
        -2px -2px 3px #fff;
      }

      .projectThree-image{
        grid-area: 3 / 2 / 4 / 4;  
        border-radius: 10%;
        border: 2px solid none;
        height: 28vh;
        width:fit-content;
        overflow: hidden;
        box-shadow: 1px 2px 2px #4f3325,
        -2px -2px 3px #fff;
      }

      

   .projectThree { 
    grid-area: 3 / 4 / 4 / 7;
    border: 2px solid none;
    height: 25vh;
    border-radius: 3%;
    background-color: #efe7dd;
    box-shadow: 1px 2px 2px #4f3325,
      -2px -2px 3px #fff;
      opacity: 70%;
    margin-top:2%;
    }

    h1{
      font-family:'La Belle Aurore', cursive;
      text-align: center;
      margin-top: 3%;
    }

    p{
      text-indent: 60px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 13px;
      text-align: center;
    }
   