*,
*::before,
*::after{
box-sizing: border-box;
margin: 0;
padding: 0;
}

video {
    display: block;
    margin: 5% auto;
    height: auto;
    width: 75%;
    border-radius: 10%;
  }

  body{
    background-image: url('/photos/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .bg-color{
    background-color: #efe7dd;
    box-shadow: 9px 10px 10px #4f3325,
      -13px -13px 20px #fff;
      opacity: 80%;

  }
  
  .navbar-brand{
    font-family: 'La Belle Aurore', cursive;
    font-size: 30px;
  }