*,
*::before,
*::after{
box-sizing: border-box;
margin: 0;
padding: 0;
}

video {
    display: block;
    margin: 5% auto;
    height: auto;
    width: 75%;
    border-radius: 10%;
  }

  body{
    background-image: url('/photos/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  

  